<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recuperação de Senha</title>
</head>
<body>
    <h1>Olá, <span th:text="${name}">Nome do Usuário</span>!</h1>
    <p>Recebemos uma solicitação para redefinir sua senha.</p>
    <p>Use o código de verificação abaixo para criar uma nova senha:</p>
    
    <h2 style="background-color: #f0f0f0; padding: 10px; border-radius: 5px; display: inline-block;">
        <b th:text="${recoveryCode}">SEU-CODIGO-AQUI</b>
    </h2>
    
    <p>Este código irá expirar em 1 hora.</p>
    <p>Se você não solicitou a recuperação de senha, por favor, ignore este e-mail.</p>
    <br>
    <p>Atenciosamente,</p>
    <p>Equipe de Leilão</p>
</body>
</html>